body {
  margin: 0;
}

.navbar {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  font-size: 24px;
  padding: 8px;
}
.navbar__logo a {
  text-decoration: none;
  color: white;
}

.navbar__logo i {
  color: red;
}

.navbar__toggleBtn {
  display: flex;
}

.navbar__toggleBtn li {
  color: white;
  list-style-type: none;
  padding: 8px;
}

.video {
  display: flex;
  justify-content: center;
}
.sectionbar {
  margin: 8px 16px;
}
.sectionbar__tags {
  padding-bottom: 8px;
}
.sectionbar__tags a {
  text-decoration: none;
  color: blue;
}

.sectionbar__title {
  display: flex;
  justify-content: space-between;
}

.sectionbar__describtion {
  line-height: 1.5em;
  height: 3em;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sectionbar__title i {
  padding-left: 12px;
  display: flex;
  align-items: center;
}

.sectionbar__visitors {
  color: grey;
}

.sectionbar__icons {
  display: flex;
  justify-content: space-around;
  color: grey;
}

.sectionbar__icons ul {
  list-style-type: none;
  display: flex;
  width: 100%;
  padding-left: 0;
}

.sectionbar__icons li {
  text-align: center;
  width: 100%;
}

.sectionbar__uploader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sectionbar__user {
  color: grey;
  display: flex;
}

.sectionbar__user i {
  color: red;
  font-size: 24px;
  display: flex;
  align-items: center;
  padding-right: 12px;
}
