:root {
  /* color */
  --white-color: white;
  --black-color: black;
  --blue-color: blue;
  --red-color: red;
  --grey-dark-color: rgb(104, 104, 104);
  --grey-light-color: rgb(151, 147, 147);
  /* size */
  --padding: 12px;
  --avatar-size: 36px;
  /* font size */
  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Alata", sans-serif;
}

body {
  background-color: rgb(240, 240, 240);
}

section {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

header.navbar {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
  border-bottom: solid 1px grey;
}

.navbar .navbar__headerline {
  border-bottom: solid 1px grey;
}

.navbar .navbar__header {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  background-color: white;
  padding: 8px;
  font-size: 12px;
}

.navbar .navbar__header ul {
  display: flex;
  margin-right: 14px;
}

.navbar .navbar__header li {
  padding: 0 8px;
  border-right: solid 1px grey;
}

.navbar .navbar__header button {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: white;
  height: 100%;
  text-transform: uppercase;
  color: grey;
}

.navbar .navbar__header .navbar__active {
  color: blue;
  border: none;
}

.navbar .navbar__header .navbar__icon button {
  margin-right: 8px;
  color: black;
}

.navbar .navbar__menu {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: bolder;
}

.navbar .navbar__menu .navbar__logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  text-decoration: none;
  color: blue;
  width: 30%;
}

.navbar .navbar__menu .navbar__buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 70%;
}

.navbar .navbar__menu .navbar__buttons button:hover {
  color: blue;
}

.navbar .navbar__menu .navbar__buttons li {
  border-right: solid 1px grey;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.navbar .navbar__menu .navbar__buttons li.first__button {
  border-left: solid 1px grey;
}

.navbar .navbar__menu .navbar__buttons li button {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: white;
  font-weight: bolder;
  font-size: 14px;
  width: 100%;
}

.navbar .menulist {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.navbar .menulist .menubar {
  width: 70%;
  margin-left: 30%;
  display: flex;
  justify-content: space-around;
  text-align: center;
  border: solid 1px red;
}

.navbar .menulist .menubar .listbar__menu {
  border-right: solid 1px grey;
  width: auto;
}

section.imglinks {
  display: flex;
  margin: 12px auto;
}

section.imglinks .img__left {
  padding-right: 8px;
  flex: 1 1 65%;
}

section.imglinks .img__right {
  flex: 1 1 35%;
}

section.imglinks .img__left img {
  width: 100%;
  height: 100%;
}

section.imglinks .img__right img {
  width: 100%;
  height: 100%;
}

section.tablelinks {
  display: flex;
  justify-content: space-between;
  height: 400px;
  margin-bottom: 12px;
}

section.tablelinks ul.coding__story {
  display: flex;
  flex-flow: column;
  width: 19%;
  border: solid 1px grey;
  border-bottom: none;
}

section.tablelinks ul.coding__story .title {
  background-color: blue;
  color: white;
  font-size: 16px;
  font-weight: bolder;
}

section.tablelinks ul {
  background-color: rgb(119, 114, 114);
}

section.tablelinks ul li {
  border-bottom: solid 1px grey;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.tablelinks ul li button {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

section.tablelinks ul button,
section.tablelinks ul button:active {
  border: none;
  cursor: pointer;
  outline: none;
  display: flex;
  text-align: start;
  background-color: white;
}

section.tablelinks ul button:hover {
  background-color: rgb(240, 240, 240);
}

section.tablelinks .coding__story i {
  display: flex;
  width: fit-content;
  height: fit-content;
  align-self: center;
  background-color: rgb(233, 233, 233);
  border-radius: 50%;
  padding: 4px;
}

section.tablelinks .coding__story .sub_title {
  color: grey;
  font-size: 10px;
}

section.tablelinks .coding__story .link_title {
  font-weight: bolder;
  font-size: 14px;
}

footer {
  color: grey;
  background-color: white;
}

footer .links__bar {
  border-top: solid 1px grey;
  border-bottom: solid 1px grey;
  font-size: 12px;
}

footer .links__bar ul {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  width: auto;
  padding: 12px;
  justify-content: center;
}

footer .links__bar ul li {
  padding: 0 30px;
  width: auto;
  height: fit-content;
  border-right: solid 1px grey;
}

footer .links__bar ul li.last__block {
  border-right: none;
}

footer .views {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  padding: 20px 0;
  font-size: 10px;
}

footer .views .views__logo {
  padding-right: 12px;
  display: flex;
  align-self: center;
  font-size: 14px;
}

footer .view__info ul {
  display: flex;
  padding-bottom: 20px;
}

footer .view__info li {
  padding: 0 20px;
}

footer .view__info ul span {
  background-color: rgb(240, 240, 240);
  padding: 8px;
  margin-left: 10px;
  border-radius: 8px;
}

footer .footer__link {
  font-size: 10px;
  margin-left: 10px;
}
